doctype 5
html
  head
    title= title  
    link(rel='stylesheet', href='/stylesheets/fantastic.css')    
    link(rel='stylesheet', href='/stylesheets/awards.css')
    link(rel="shortcut icon", href="../media/images/favicon.ico")
  body
    include navbar

    h1.headtext <span class='raised'>My Awards</span>
    .awardsContainer
      ul.awardsList
        -for (var i = 0; i < myAwards.length; i++){
          li.awardsListItem.raised
            .awardName #{myAwards[i].name}

            hr.fuzzyHR
            p!= myAwards[i].body
        -}

    .feedback
  script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
  script(src="http://cdnjs.cloudflare.com/ajax/libs/howler/1.1.11/howler.min.js")
  script(src="../javascripts/navbar.js")
  script(src="../javascripts/awards.js")