doctype 5
html
  head
    title= title  
    link(rel='stylesheet', href='/stylesheets/fantastic.css')    
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(rel="shortcut icon", href="../media/images/favicon.ico")
  body
    include navbar

  script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
  script(src="../javascripts/navbar.js")