doctype 5
html
  head
    title= title  
    link(rel='stylesheet', href='/stylesheets/fantastic.css')    
    link(rel='stylesheet', href='/stylesheets/login.css')
    link(rel="shortcut icon", href="../media/images/favicon.ico")
  body

    #buttonContainer
      #signup.fantastic Sign Up
      #login.fantastic Log in
      #submit.fantastic Submit

    

    .feedback
      form#loginform(action="/login",method="post")
        input.form.username(name="username", placeholder="Username",type="text")
        input.form.password(name="password", placeholder="Password",type="password")


  script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
  script(src="../javascripts/login.js")