doctype 5
html
  head
    title Login
    link(rel='stylesheet', href='/stylesheets/fantastic.css')    
    link(rel='stylesheet', href='/stylesheets/login.css')
    link(rel="shortcut icon", href="../media/images/favicon.ico")
  body
    #myNavbar
      .help ?


    #buttonContainer
      #signup.fantastic.toggle Sign Up
      #guestLogin.fantastic Guest Login    
      #login.fantastic.toggle Log in
      hr.fuzzyHR
      #submit.fantastic Submit


    .feedback
      .helpTextDiv
      #feedbackLabel
      form#loginform
        input.form.username(name="username", placeholder="Username",type="text")
        input.form.password(name="password", placeholder="Password",type="password")


  script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
  script(src="../javascripts/login.js")