#myNavbar
  ul.myNavLinks
    li.myNavLink
      a(href='/')
        .fantastic.myNavButton Home
    li.myNavLink
      .fantastic.myNavButton.myDropdown 
        ul.myDropdown-menu
          li Toys/Tools
          li <div class='fuzzyHR'>
          li <a href='/tonetest'>ToneTest</a>
          li <a href='/jqstep'>StepSeq</a>
    li.myNavLink
      .fantastic.myNavButton.myDropdown
        ul.myDropdown-menu
          li Leaderboards
          li <div class='fuzzyHR'>
          li <a href='#'>Today</a>
          li <a href='/leaderboards/monthly'>This Month</a>
          li <a href='/leaderboards/alltime'>All Time</a>
    li.myNavLink
      .fantastic.myNavButton.myDropdown
        ul.myDropdown-menu
          li #{user.username}
          li <div class='fuzzyHR'>
          li <a href='#'>My Badges</a>
          li <a href='#'>Account Settings</a>
          li <a href='/logout'>Log out</a>
  .help ?
