#navbar
  ul.navLinks
    li.navLink
      a(href='/')
        .fantastic.navButton Home
    li.navLink
      .fantastic.navButton.dropdown 
        ul.dropdown-menu
          li Toys/Tools
          li <div class='fuzzyHR'>
          li <a href='/tonetest'>ToneTest</a>
          li <a href='/jqstep'>jQstep</a>
    li.navLink
      .fantastic.navButton Leaderboards
    li.navLink
      .fantastic.navButton.dropdown
        ul.dropdown-menu
          li Stuff
          li <div class='fuzzyHR'>
          li Things
          li More stuff
          li the same things
          li so many things
          li wow, look at all this stuff
                        li More stuff
          li the same things
          li so many things
          li wow, look at all this stuff
                        li More stuff
          li the same things
          li so many things
          li wow, look at all this stuff
  .help ?
