#navbar
  ul.navLinks
    li.navLink
      a(href='/')
        .fantastic.navButton Home
    li.navLink
      .fantastic.navButton.dropdown 
        ul.dropdown-menu
          li Toys/Tools
          li <div class='fuzzyHR'>
          li <a href='/tonetest'>ToneTest</a>
          li <a href='/jqstep'>StepSeq</a>
    li.navLink
      .fantastic.navButton Leaderboards
    li.navLink
      .fantastic.navButton.dropdown
        ul.dropdown-menu
          li #{user.username}
          li <div class='fuzzyHR'>
          li <a href='#'>My Badges</a>
          li <a href='#'>Account Settings</a>
          li <a href='#'>Log out</a>
  .help ?
