doctype 5
html(lang='en')
    head
        meta(charset="utf-8")
        title ToneTest
        link(rel="stylesheet", href="../stylesheets/fantastic.css")
        link(rel="stylesheet", href="../stylesheets/tonetest.css")
        link(rel="shortcut icon", href="../media/images/favicon.ico")
    body#home
        include navbar
        .timer
        .score
        #intervalEnabler
            .button.fantastic m2nd
            .button.fantastic M2nd
            .button.fantastic m3rd
            .button.fantastic M3rd
            .button.fantastic P4th
            .button.fantastic P5th
            .button.fantastic m6th
            .button.fantastic M6th
            .button.fantastic m7th
            .button.fantastic M7th
            .button.fantastic Oct
        .goBox
            .go.button.fantastic GO!
        .feedback
        script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
        script(src="../javascripts/tonetest.js")
        script(src="../javascripts/navbar.js")