* {
    font-family:fantasy;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor:default;
}

body {
    background-image: linear-gradient(left top, rgb(255,255,255) 0%, rgb(0,0,0) 100%);
    background-image: -o-linear-gradient(left top, rgb(255,255,255) 0%, rgb(0,0,0) 100%);
    background-image: -moz-linear-gradient(left top, rgb(255,255,255) 0%, rgb(0,0,0) 100%);
    background-image: -webkit-linear-gradient(left top, rgb(255,255,255) 0%, rgb(0,0,0) 100%);
    background-image: -ms-linear-gradient(left top, rgb(255,255,255) 0%, rgb(0,0,0) 100%);
    height: 100%;
    margin:0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a:link, a:visited, a:active {
    text-decoration:none;
    color:black;
    -webkit-transition:all .4s;
    transition: all .4s;
}

a:hover {
    text-decoration:none;
    color:#7C4;
    -webkit-transition:all .5s;
    transition: all .5s;
}




#navbar {
    width:100%;
    height:79px;
    background-image: linear-gradient(right bottom, rgb(0,0,0) 13%, rgb(128,128,128) 97%);
    background-image: -o-linear-gradient(right bottom, rgb(0,0,0) 13%, rgb(128,128,128) 97%);
    background-image: -moz-linear-gradient(right bottom, rgb(0,0,0) 13%, rgb(128,128,128) 97%);
    background-image: -webkit-linear-gradient(right bottom, rgb(0,0,0) 13%, rgb(128,128,128) 97%);
    background-image: -ms-linear-gradient(right bottom, rgb(0,0,0) 13%, rgb(128,128,128) 97%);
    margin-bottom:5px;
/*    border-bottom:4px solid black;*/
    box-shadow: -1px 4px 3px 0px rgba(0,0,0,.7);
    position:fixed;
    top:0%;
    z-index: 10;
}

.navLinks {
    list-style-type: none;
    margin:12px;
    display:inline-block;
    padding:0;
    overflow:visible;
    max-width: 88%
}

.navLink {
    display:inline-block;
    vertical-align: top;
}


.help {
    -webkit-transition:all .4s;
    transition: all .4s;
    border: 5px solid ghostwhite;
    border-radius: 1000px;
    float:right;
    position:fixed;
    right:2%;
    top:1%;
    height:40px;
    text-align:center;
    box-shadow: 8px 8px 3px rgba(0,0,0,.7);
    background-color:rgba(0,0,0,1);
    color:ghostwhite;
    margin:10px;
    font-family:fantasy;
    font-size:32px;
    padding:4px 15px 0px 15px;
}

.navButton {
    height:28px;
    font-size:20px;
    margin:5px;
    overflow:hidden;
    font-weight:bold;
}

.fantastic {
    text-align:center;
    background-image: linear-gradient(left top, rgba(0,0,0,.9) 15%, rgba(36,36,36,.9) 69%);
    background-image: -o-linear-gradient(left top, rgba(0,0,0,.9) 15%, rgba(36,36,36,.9) 69%);
    background-image: -moz-linear-gradient(left top, rgba(0,0,0,.9) 15%, rgba(36,36,36,.9) 69%);
    background-image: -webkit-linear-gradient(left top, rgba(0,0,0,.9) 15%, rgba(36,36,36,.9) 69%);
    background-image: -ms-linear-gradient(left top, rgba(0,0,0,.9) 15%, rgba(36,36,36,.9) 69%);
    border:4px solid rgba(200,150,20,1);
    border-radius:10px;
    color:ghostwhite;
    position: relative;
    box-shadow: 5px 5px 3px rgba(0,0,0,.7);
    padding:4px;
    transition: all 0.6s;
    -webkit-transition:all 0.6s;
}

.on {
    border:4px solid rgba(20,15,20,1);
    background-image: linear-gradient(right bottom, rgba(92,92,255,.95) 35%, rgba(92,146,255,.95) 72%);
    background-image: -o-linear-gradient(right bottom, rgba(92,92,255,.95) 35%, rgba(92,146,255,.95) 72%);
    background-image: -moz-linear-gradient(right bottom, rgba(92,92,255,.95) 35%, rgba(92,146,255,.95) 72%);
    background-image: -webkit-linear-gradient(right bottom, rgba(92,92,255,.95) 35%, rgba(92,146,255,.95) 72%);
    background-image: -ms-linear-gradient(right bottom, rgba(92,92,255,.95) 35%, rgba(92,146,255,.95) 72%);
    color:black;
    top:2px;
    left:1px;
    box-shadow: 2px 2px 1px rgba(0,0,0,.7);
    border-radius: 15px;

}

.dropdown-menu {
    padding:0;
    list-style-type: none;
}

.dropdown-menu li {
    padding-bottom:5px;
}

.fuzzyHR {
    margin-left:-10px;
    margin-right:-10px;
    border:solid rgba(0,0,0,.0) 1px;
    box-shadow:0px 8px 10px #000;
    margin-bottom: 20px;
}

@media screen and (max-width: 770px) {
    #navbar {
        height:155px;
    }